$color-light: #FFFFFF;
$color-dark: #000000;
$color-primary: #EC7979;
$color-active: #AB4949;
$color-form: #BDBDBD;
$color-prim-light: #F8EFEF;
$color-bg-light: #E5E5E5;
$color-bg-middle: #F5F5F5;
$color-text: #86878B;
$color-review: #E2E2E2;








$content-width: 1170px;
$tablet-width: 768px;
$mobile-big-width: 414px;
$mobile-small-width: 320px;