.tool {
  @extend %center;
  text-align: center;
  @include media-tablet {
    width: 100%;
  }
}

.awesome__wrapper {
  padding-bottom: 58px;
}

.awesome__layout-3-column {
  @include media-tablet {
    flex-direction: column;
    width: 80%;
    margin: 0 auto;
  }
  @include media-mobile {
    flex-direction: column;
  }
}

.tool__title {
  margin: 45px 0;
}
