.navigation {
    display: flex;
    font-size: 1.4rem;
    line-height: 1.9rem;
    color: $color-light;
  }
  
  .navigation__link {
    list-style: none;
    padding: 15px;
    cursor: pointer;
    &:hover {
        background-color: $color-primary;
        color: $color-light;
    }
  }