.navigation {
  display: flex;
  flex-wrap: wrap;
  font-size: 1.4rem;
  line-height: 1.9rem;
  color: $color-light;
}

.navigation__link {
  list-style: none;
  padding: 15px;
  cursor: pointer;
  &:hover {
    background-color: $color-primary;
    color: $color-light;
  }
}

.header__navigation {
  @include media-mobile {
    display: none;
  }
}
