.section__content {
  z-index: 1;
  @extend %center;
  text-align: center;
}

.section__title {
  margin-top: 70px;
  text-transform: uppercase;
  @include media-tablet{
    margin-top: 55px;
  }
  @include media-mobile {
    margin-top: 55px;
  }
  &::after{
    content: "";
    display: block;
    width: 170px;
    height: 1px;
    background-color: $color-primary;
    margin: 0 auto;
    margin-top: 54px;
  }
}

.section__text {
  margin: 40px 0 71px 0;
  color: $color-text;
  &_light {
    color: $color-light;
  }
  @include media-tablet {
    margin: 25px 0 50px 0;
    text-align: center;
    max-width: 288px;
  }
  @include media-mobile {
    text-align: center;
    max-width: 288px;
  }
}

.line {
  width: 200px;
  border-top: 2px solid $color-light;
  margin: 0 0 42px;
  &_colored {
    border-color: $color-primary;
  }
}

.wrapper-bg {
  &_dark {
    background-color: $color-dark;
  }
  &_img {
    background-image: url(../assets/img/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  //   z-index: -1;
  //   &::after{
  //     content: "";
  //     background-color: $color-dark;
  // opacity: 0.5;
  // position: absolute;
  // width: 100%;
  // height: 100%;
  // display: block;
  // position: absolute;
  // top: 0;
  //   }

  }
  &_prim-light {
    background-color: $color-prim-light;
  }
  &_light {
    background-color: $color-bg-light;
  }
  &_img-small {
    background-image: url(../assets/img/bg2.jpg);
    position: relative;
  }
  &_middle {
    position: relative;
    background-color: $color-bg-middle;
    &::after{
      background-color: $color-dark;
  opacity: 0.5;
  position: absolute;
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  top: 0;
    }
  }
}

.shadow {
  background-color: $color-dark;
  opacity: 0.5;
  position: absolute;
  width: 100%;
  height: 100%;
}
