.social-media__layout-2-column {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  @include media-tablet {
    flex-direction: column;
  }
  @include media-mobile {
    flex-direction: column;
  }
}

.social-media__content {
  width: 40%;
  @include media-tablet {
    width: 100%;
    text-align: center;
    margin-top: 31px;
    margin-bottom: 32px;
  }
  @include media-mobile {
    width: 100%;
    text-align: center;
    margin-top: 31px;
  }
}
.social-media__links {
  width: 60%;
  @include media-tablet {
    width: 100%;
  }
  @include media-mobile {
    width: 100%;
  }
}
.social-media__link {
  width: 13%;
}
.social-media__title {
  margin: 0 0 20px;
}

.social-media__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  > div {
    padding: 10px;
  }

  @include media-mobile {
    padding-left: 0;
  }
  @include media-tablet {
    justify-content: center;
  }
}

.social-media__text {
  max-width: 470px;
  @include media-tablet {
    margin: 0 auto;
  }
}

.ico_active {
  width: 100%;
  max-width: 70px;

  @include media-tablet {
    width: 60px !important;
    height: 60px !important;
  }

  @include media-mobile {
    width: 26px !important;
    height: 26px !important;
  }
}

.ico_active :focus {
  fill: #ab4949;
}
.ico_active :hover {
  @extend %transition;
  fill: #ec7979;
}
