.social-media__layout-2-column {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.social-media__content {
    width: 40%;
}
.social-media__links {
    width: 60%;
}

.social-media__title {
    margin: 0 0 20px;
}

.social-media__list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    > li {
        padding: 10px;
    }
}

.social-media__text {
    max-width: 470px;
}

.ico_active :focus {
    fill: #AB4949;
}
.ico_active :hover {
    fill: #EC7979;
}