.transitioning-effect__wrapper {
  padding-bottom: 51px;
  padding-top: 98px;
  @include media-mobile {
    padding-top: 41px;
    padding-bottom: 0;
  }
}

.transitioning-effect-tab {
  align-items: center;
  padding-left: 100px;
  border-right: 1px solid $color-border;
  border-left: 1px solid $color-border;
  border-bottom: 1px solid $color-border;
  position: relative;
  &:before {
    content: "";
    position: absolute;
    bottom: 100%;
    width: 82.7%;
    border-top: 1px solid $color-border;
    margin-left: 103px;
  }

  @include media-mobile {
    padding-left: 0;
    text-align: center;
    justify-content: center;
    &:before {
      width: 67.2%;
      margin-left: 114px;
    }
  }
  @include media-tablet {
    padding-left: 0;
    flex-direction: column-reverse;
    text-align: center;
    justify-content: center;
    &:before {
      width: 71.2%;
      margin-left: 205px;
    }
  }
}

.transitioning-effect__img {
  width: 50%;
  @include media-mobile {
    display: none;
  }
  @include media-tablet {
    margin: 20px 0;
  }
}

.transitioning-effect__title {
  margin-bottom: 75px;
  @include media-mobile {
    margin: 30px 0;
  }
}

.transitioning-effect__text {
  margin-bottom: 27px;
}

.transitioning-effect__button {
  @include media-mobile {
    margin-bottom: 30px;
  }
  @include media-tablet {
    margin-bottom: 30px;
  }
}

.tabs {
  display: flex;
}

.tab {
  border-radius: 5px 5px 0px 0px;
  width: 203px;
  text-align: center;
  &:first-child {
    border: 1px solid $color-border;
    border-bottom: none;
  }
}

.tab__text {
  text-transform: uppercase;
  @extend %font-add;
}
