.wrapper {
  max-width: $content-width;
  margin: 0 auto;
  padding: 0 15px;
  
  @include media-small-laptop {
    padding: 0 20px;
  }
  @include media-mobile {
    padding: 0 20px;
  }
  @include media-tablet {
    padding: 0 20px;
  }
}
